{% extends "base_generic.html" %}

{% block content %}
    {% load static %}
    {% load socialaccount %}
    <div class="container">
        <h2>Sign In</h2>
        <h3>Sign in using:</h3>
        <ul>
            {% get_providers as socialaccount_providers %}
            {% for provider in socialaccount_providers %}
                {% if provider.id == "google" or provider.id == "facebook" %}
                    <li><a href="{% provider_login_url provider.id %}">{{ provider.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
