{% load i18n %}
{% load static %}
{% load socialaccount %}
{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <h2>{% trans "Sign In" %}</h2>
    <h3>{% trans "Sign in using:" %}</h3>
    <ul>
        {% get_providers as socialaccount_providers %}
        {% for provider in socialaccount_providers %}
            {% if provider.id == "google" or provider.id == "facebook" %}
                <li><a href="{% provider_login_url provider.id %}">{{ provider.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}

<!-- This is a custom login page template. It provides Google and Facebook login options. -->
<!-- Displayed when users visit /accounts/login/. -->
